# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente
.env
.env.*
!.env.example

# VS Code
.vscode/

# Arquivos temporários
*.log
*.tmp

# Dados locais
data

# Power BI
*.pbix.autosave
